html {
    height: 100%;
}

body {
    background-image: url("../images/background1.jpg");
    /*background-size: cover;*/
    /*background-repeat: revert;*/
    min-height: 100%;
    flex-direction: column;
}

.navbar ul.navbar-nav a:hover {
color: #04C8D8 !important;
}

.footer div.text-center {
	background-color: rgba(0, 0, 0, 0.2);
}

.tab-content {
    padding: 5% 5% 5% 40%;
}

main {
    margin: 25px;
}
.footer {
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: auto;
    margin-top: auto;
}


