<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav">
</header>
    <main role="main" >
        <div class="container">
            <div class="row">
                <div class="mt-4 col-md-10">
                    <img src="images/hbogo.png" alt="HBO-GO" class="rounded float-left" style="margin-right: 15px;
                    margin-bottom: 25px;">
                    <h2>HBO-GO</h2>
                    <span style="font-weight:bold">HBO GO е онлайн стрийминг услуга, с която можеш да гледаш хитови филми и сериали, когато ти е
                        удобно.</span>
                    <span style="font-weight:bold">Световно известни и нови заглавия – не пропускай премиерите на популярни сериали, филми и
                        детско
                        съдържание</span>
                </div>
            </div>
            <div class="row">
                <div class="mt-4 col-md-10">
                    <img src="images/spotify.png" alt="Spotify" class="rounded float-left" style="margin-right: 15px;
                    margin-bottom: 25px;">
                    <h2>Spotify</h2>
                    <span style="font-weight:bold">Spotify е музикална стрийминг услуга, която ти позволява да слушаш
                        любимата
                        музика, докато си в
                        движение или просто релаксираш вкъщи.</span>
                    <span style="font-weight:bold">Открий, слушай и сподели любимети се изпълнения с библиотека надхвърляща повече от 70 милиона
                        песни!</span>
                </div>
            </div>
            <div class="row">
                <div class="mt-4 col-md-12">
                    <img src="images/norcom.png" alt="NorcomCloud" class="rounded float-left" style="margin-right: 15px; margin-bottom: 25px;">
                    <h2>NorcomCloud</h2>
                    <span style="font-weight:bold">NorcomCloud е доставчик на облачно хранилище предлагащо да складирате файлове, информация и
                        снимки
                        за да освободите пространство на вашето устройство!</span>
                    <span style="font-weight:bold">Знаете ли че колкото по-пълна е паметта на устройтвото ви толкова по-бавно е то, затова
                        създадохме
                        NorcomCloud, прехвърлете всичките си данни там и се наслаждавайте на по-бързо
                        устройство!</span>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="fragments/commons::footer" class="footer" id="footer">
    </div>
</body>

</html>